/* Navigation */
#navbar{
    flex-direction: column;
}
#logo{
    padding-bottom: 7px;
    padding-top: 7px;

}
/* Home */
#home::before{
    height: 75%;
}
#home{
    height: 440px;
    padding: 3px 58px;
}
/* Services Section */
#services{
    flex-direction: column;
    
}
#services .box{
    justify-content: center;
    overflow: scroll;
    width: auto;
    margin: 12px 12px;
}

#services .box img{
    width: 150px;
    height: 120px;
    display: block;
    margin: auto; /*This is a way to bring the image into center of box*/
}
/* Clients Section */
#clients{
    overflow: scroll;
    display: block;
    width: 50%;
    margin: 2% 25%;
}
 .client-item img{
    padding: 23px 122px;
    width: 180px;
 }
 #client-section::before{
    height: 85%;
 }
/* Contact Section */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 /* Utility Classes */
 .h-secondary{
    font-size: 2.5rem;
}
.h-primary{
    font-size: 2.5rem;

}

